{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load snippet %}
{% load static %}

{# <a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> #}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="row" 
     {% if page.twitter_feed %}
       style="margin: 0px -10% 0px 0px;"
     {% endif %}
>
{% block title_header %}
        <!-- Section Content -->
        {# <div class="section-content"> #}
  <div 
     {% if page.twitter_feed %}
       class="col-md-8"
     {% else %}
       class="col-md-12"
     {% endif %}
   >
      <div id="header">
            <!-- Heading -->
            <div class="big-text par" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}" >
                        <!-- Title -->
                <h2 class="t-left f-large ultrabold title_body">{{ page.title_body }}</h2>
                <!-- Description -->
                <h3 class="t-left f-medium normal description_body">{{ page.description }}</h3>
            </div>
            <!-- End Heading -->
       </div>
        {# </div> #}
        <!-- End Section Content -->
{% endblock title_header %}

  <div id='portfolio'>
        <div 
          {% if  page.statistic %}
            class="col-md-6"
          {% else %}
            class="col-md-12"
          {% endif %}
        >
      <div class=" single-item ">
        {% for item in page.related_carousel.all %}

          <div class='slider'>
            <a href="{{ item.get_url }}" class='slider'>
              {% image item.image height-200 class="carousel_home" %}
              {{ item.description|richtext }} </a></div>
        {% endfor %}
      </div>
      </div>
      {% if  page.statistic %}
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td rowspan="2">1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@TwBootstrap</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
      {% endif %}
      </div>
      <div class='row el_marg_top '>
        <div class="col-sm-12">
          <!-- Section Content -->
          <div class="section-content-full t-left brief">
            {{ page.body|richtext }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 tweet-feed">
      {% if page.twitter_feed %}
        {# <div class="col-sm-3 col-sm-offset-1 blog-sidebar row_home"> #}
          <a class="twitter-timeline" href="//twitter.com/{{ page.twitter_feed }}" data-height="920">Tweets about "</a>
          <a href="https://twitter.com/intent/user?screen_name={{ page.twitter_feed }}">@{{ page.twitter_feed }}</a>"
        {# </div> #}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block extra_js %}

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src='{% static "slick/slick.min.js" %}'></script>
  <script type="text/javascript">
    $('.single-item').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 5000,
        arrows: false
    });
  </script>

    <script type="text/javascript"> 
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
{% endblock %}