{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags%}


{% block content %}
 
{% block title_header %}

 <div id="header">

    <!-- Section Content -->
    {# <div class="section-content"> #}


        <!-- Heading -->
        <div class="big-text" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}">

            <!-- Title -->
            <h2 class="t-left f-large ultrabold title_body">{{ blog_page.title }}</h2>
            {# <a href="{% pageurl blog_page %}">{{ blog_page.title }}</a> #}

            <!-- Description -->
            <h3 class="t-left f-medium normal uppercase">{{ blog_page.description }}</h3>

        </div>
        <!-- End Heading -->



    {# </div> #}
    <!-- End Section Content -->

</div>
{% endblock title_header %}
    <!-- About -->
    <div id="blog">
        <!-- Blog Post -->
        {% with per_page=blog_page.num_entries_page %}
            {% paginate per_page entries %}        
                {% for entry in entries %}
                    {% comment %}
                    {% if search_term %}
                    <div class="searchTerm">{% trans 'Entries for' %} {{ search_type }} "{{ search_term }}"</div>
                    {% endif %}
                    {% endcomment %}
                    <div class="blog-post">
                        <!-- Image -->
                        {# {% include 'puput/entry_page_header.html' %} #}
                        {% if entry.header_image %}
                            <span class="image featured">
                                {% image entry.header_image fill-800x450 as header_image %}
                                <img alt="{{ entry.header_image.title }}" src="{{ header_image.url }}">
                            </span>
                        {% endif %}
                         <!-- Post Title was defined in extras -->
                        {% include 'puput/entry_page_header.html' with entry=entry %}
                        <!-- Post Snippet -->
                    {% if entry.excerpt %}
                        {{ entry.excerpt|richtext }}
                    {% else %}
                        {{ entry.body|richtext|truncatewords_html:70 }}
                    {% endif %}
                        <!-- End Post Snippet -->
                        
                        <!-- Button -->
                        <a href="{% entry_url entry blog_page %}" class="button float-l">Read More</a>
                        
                    </div>
                    <!-- End Blog Post -->
                {% endfor %}

            {% show_paginator %}
        {% endwith %}               
                    
    </div>
    <!-- End About -->
{% endblock content %}

{% comment %}
{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}
{% endcomment %}
