{% load wagtailroutablepage_tags common_tags puput_tags %} 
<!-- Post Title -->
<h3 class="t-left f-medium dark ultrabold title_body"><a href="{% entry_url entry blog_page %}">{{ entry.title }}</a></h3>
<!-- End Title -->

<!-- Post Information -->

<ul class="post-info t-left lato f-small">
                                    
    <li class="no-margin no-border no-padding">Author: <a href="{% routablepageurl blog_page "entries_by_author" entry.owner.username %}">
                {{ entry.owner.username }} </a>
    </li>
    <li>Date: <a href="#">{{ entry.date|date:"d E,Y" }}</a>
    </li>

    {% if entry.categories.count > 0 %}
        <li>In: <a href="#">{% categories_in_line entry.categories %}</a>
        </li>
    {% endif %}
{% comment %}
    {% if entry.tags.count > 0 %}
        <li> Tags:?? {% tags_list blog_page.num_tags_entry_header entry.tags %}
        </li>
    {% endif %}
{% if blog_page.display_comments %}
        <li> № of comments:?? {% tags_list blog_page.num_tags_entry_header entry.tags %}
        </li>
{% endif %}
{% endcomment %}
</ul>

<!-- End Post Information -->
