{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags puput_tags %}
{% comment %} 
{% block meta_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}{% endblock meta_description %}
{% block canonical %}{% canonical_url entry=self %}{% endblock canonical %}
 {% endcomment %}
{% block social_share %}
    {% image self.header_image fill-800x450 as share_image %}
    <meta property="og:title" content="{{ self.title }}" />
    <meta property="og:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
    <meta property="og:url" content="{% canonical_url entry=self %}" />
    {% if self.header_image %}
    <meta property="og:image" content="{% image_url share_image.url %}" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="450" />
    <meta name="twitter:image" content="{% image_url share_image.url %}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title }}" />
    <meta name="twitter:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
{% endblock social_share %}

{% block content %}
<!-- About -->
<div id="blog">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-8">
            <!-- Blog Post -->
            <div class="blog-post no-margin">
                <!-- Image -->
                {% if self.header_image %}
                    <span class="image featured">
                        {% image self.header_image fill-800x450 as header_image %}
                        <img alt="{{ self.header_image.title }}" src="{{ header_image.url }}">
                    </span>
                {% endif %}
                <!-- Post Title was defined in extras -->
                {% include 'puput/entry_page_header.html' with entry=self %}
                <!-- Post Texts -->
                <div class="post-text t-left">
                    {{ self.body|richtext}}
                </div>
                <!-- End Post Texts -->
            {% show_comments %}   
            </div>
            <!-- End Blog Post -->
        </div>
        <!-- End Column -->
        
        <!-- Column -->
        <div class="col-md-4">
            <!-- Sidebar -->
            <div class="sidebar t-left">
                <!-- Sidebar Title -->
                <h3 class="f-normal ultrabold uppercase">Recent Posts</h3>
                <!-- Separator -->
                <div class="separator-small"></div>
                <!-- Sidebar Links -->
                <ul class="f-small">
                    {% recent_entries blog_page.num_last_entries %}
                </ul>
                <!-- End Sidebar Links -->
            </div>
            <!-- End Sidebar -->
            
            <!-- Sidebar -->
            <div class="sidebar t-left">
                <!-- Sidebar Title -->
                <h3 class="f-normal ultrabold uppercase">Categories</h3>
                <!-- Separator -->
                <div class="separator-small"></div>
                <!-- Sidebar Links -->
                <ul class="f-small">
                    {% categories_list %}
                </ul>
                <!-- End Sidebar Links -->
            </div>
            <!-- End Sidebar -->
            
            <!-- Sidebar -->
            <div class="sidebar t-left">
                <!-- Sidebar Title -->
                <h3 class="f-normal ultrabold uppercase">Tags</h3>
                <!-- Separator -->
                <div class="separator-small"></div>
                <!-- Sidebar Links -->
                <ul class="f-small tags">
                    {% tags_list %}
                    
                </ul>
                <!-- End Sidebar Links -->
            </div>
            <!-- End Sidebar -->
        </div>
        <!-- End Column -->
    </div>
    <!-- End Row -->
</div>
<!-- End About -->
{% endblock content %}


{% comment %}
{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}
{% endcomment %}