#film_roll, div.film_roll_child {
  height: 100%;
}
div.film_roll_child img {
    height: 100%;
    max-width: none;
    max-height: 100%;
    border-radius : 10px;
}
div.film_roll_wrapper { overflow-x: hidden; }


/*.slider {
    height: 100%;
    position: relative;
    margin: center;
}
*/

.slick-slide img {
    display: block;
    margin: 0 auto;
    border-radius : 10px;
}
/*.carousel_home{    border-radius : 10px;    }*/
/*.carousel_testimonial{    border-radius : 5px;    }*/
.el_marg_top{
    margin-top : 100px;
}
.rslides img {
    height: 550px;
    width : auto ;
    margin: 0 auto;
    float: none;
}

.slick-next:before {
    content: '→';
    color: #e0e0e0;
}

.slick-prev:before {
    color: #e0e0e0;
}
.posted-comment {
    background: #f4f4f4;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 20px;
}
.brief{
    margin-top: 0px;
}
.f-large{
    font-size: 1em
}
.f.medium{
    font-size: 2.5em
}
.title_body{
}
#header{
    padding-top: 40px;
    padding-bottom:100px;
}
.navbar-brand{
    padding: 0px 15px;
}
.navbar-brand img{
    height: 52px;
    width: auto;
}
.description_body{
}
.big-text i{
    font-size: 5em;
}
