
* 	Amio - Minimal Multipurpose Portfolio Template
	Version - 2.0
* 	Author: OrbmobThemes
* 	Copyright (C) 2016 Orbmob
* 	This is a premium product available exclusively here : https://themeforest.net/user/orbmobthemes/portfolio
*/
/*


	* Uncompressed Version is Inside The Main Download File*




/*====================================================


	Table of Contents
	
	

		01. Generel Styles 

			+ Generate Google Fonts
			+ Essential Styles
			+ Buttons
			+ Floats
			+ Overlays
			+ Row Fix
			+ Section Styles
			+ Separators

		02. Typography

			+ Font Classes
			+ Font Positions
			+ Font Weight
			+ Font Transformation
			+ Font Colors
			+ Font Sizes


		03. Loading Screen

			+ Loader Logo
			+ Loader Animation
			+ After Loading

		04. Backgrounds

		05. Navigations

			+ General
			+ Bootstrap Fix
			+ Dropdown

		06. Homepage

			+ Homepage Headers
			+ Logo Styles

		07. Slider

		08. About

		09. Services

		10. Portfolio

		11. Pricing Table

		12. Blog

		13. Map

		14. Contact

		15. Footer

		16. Responsive
		
			+ Resolution Under 992px
			+ Resolution Under 768px
			+ Resolution Under 530px
			+ Resolution Under 450px
			+ Resolution Under 400px


	
====================================================*/



/*
* 	Amio - Minimal Multipurpose Portfolio Template
* 	Author: OrbmobThemes
* 	Copyright (C) 2016 Orbmob
* 	This is a premium product available exclusively here : https://themeforest.net/user/orbmobthemes/portfolio
*/
/*







/*====================================================


	Table of Contents
	
	

		01. Generel Styles 

			+ Generate Google Fonts
			+ Essential Styles
			+ Buttons
			+ Floats
			+ Overlays
			+ Row Fix
			+ Section Styles
			+ Separators

		02. Typography

			+ Font Classes
			+ Font Positions
			+ Font Weight
			+ Font Transformation
			+ Font Colors
			+ Font Sizes


		03. Loading Screen

			+ Loader Logo
			+ Loader Animation
			+ After Loading

		04. Backgrounds

		05. Navigations

			+ General
			+ Bootstrap Fix
			+ Dropdown

		06. Homepage

			+ Homepage Headers
			+ Logo Styles

		07. Slider

		08. About

		09. Services

		10. Portfolio

		11. Pricing Table

		12. Blog

		13. Map

		14. Contact

		15. Footer

		16. Responsive
		
			+ Resolution Under 992px
			+ Resolution Under 768px
			+ Resolution Under 530px
			+ Resolution Under 450px
			+ Resolution Under 400px


	
====================================================*/







/*======================

	01. Generel Styles 

========================*/


/* Generate Google Fonts 
-------------------------*/



	
	/* Lato */
	@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
	
	/* Raleway */
	@import url(https://fonts.googleapis.com/css?family=Raleway:800,700,600,400,300,200,100);
	
	/* Roborto */
	@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

	
	
	
/* Essential Styles
-------------------------*/




	*{
		margin: 0%;
		padding: 0%;
		
	}

	::selection {
		background-color: #ececec;
	}
	
	
	html, body {
		width:100%;
		height:100%;
		padding:0;
		margin-left:0;
		margin-right:0;
		font-family: 'Raleway', sans-serif;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		font-size: 1em;
	}

	body{
		overflow-x: hidden; 
	}
	
		
	.container{
		margin: 0px auto;
		padding: 0px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		height: auto;
		text-align: center;
		float: none;
	}
	

	img {
	    -moz-user-select: none; 
	    -webkit-user-select: none;
	    -ms-user-select: none; 
	    user-select: none; 
	    -webkit-user-drag: none;
	    user-drag: none;
	}
	
	a{
		color: #191919;
		text-decoration:none;
		outline:none;

	}

	a:hover,
	a:active,
	a:focus
	{
		text-decoration:none;
		outline:none;
		color: #505050;
	
	}
	
	a i:hover,
	a i:active,
	a i:focus
	{
		text-decoration:none;
		outline:none;
		color: #505050;
	}

	

	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
		font-family: 'Raleway', sans-serif;
		font-weight:100;
	}

	p{
		margin:0 0 5px;
		font-family: 'Raleway', sans-serif;
	}

	.clear{
		clear:both;
	}

	ol, ul{
		list-style:none;
		padding:0;
	}

	.no-padding{
		padding:0 !important;
	}

	.no-margin{
		margin:0 !important;
	}
	
	.no-border{
		border: none !important;
		border-style: none !important;
	}
	
	
	
	
/* Buttons
-------------------------*/




	.button{
		z-index: 0;
		background: #191919;
		cursor: pointer;
		color: #fff;
		display: block;
		width: 150px;
		height: 50px;
		line-height: 50px;
		margin-top: 30px;
		margin: auto;
		font-weight: 900;
		letter-spacing: 3px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		font-size: 11px;
		word-spacing: 1px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}

	
	
	
/* Floats
-------------------------*/

	
	.float-l{
		float: left !important;
	}
	
	.float-r{
		float: right !important;
	}


	
	
/* Overlays
-------------------------*/



	
	.pattern-black:after,
	.pattern-white:after{
		content:'';
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		position: absolute;
		z-index: -1;
	}
	
	.pattern-black:after{
		
		background: url(../img/pattern-1.png) repeat;
	}
	
	.pattern-white:after{
		
		background: url(../img/pattern-2.png) repeat;
	}
	



/* Row Fix
-------------------------*/

	
	.row:before, 
    .row:after {
        content:"";
        display: table ;
        clear:both;
    }
	

	
	
/* Section Styles

-------------------------*/

	
	.section-content{
		padding: 0px 10% 0px 10%;
		z-index: 9999;
	}
	
	
	.section-content-full{
		padding: 0px 0% 0px 0%;
		z-index: 9999;
	}
	
	
	.sections{
		width: 100%;
		z-index:1;
		padding-top: 70px;
	}


	
	
	
	
/* Separators
----------------------------*/	


	
	.separator-small { 
		width: 40px;
		height: 1px;
		background: #505050 none repeat;
		margin-top: 30px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.separator-center { 
		width: 40px;
		height: 1px;
		background: #505050 none repeat;
		margin: 25px auto;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	

	
	
	
/*======================

	02. Typography

========================*/




/* Font Classes
-------------------------*/




	.raleway{
		font-family: 'Raleway', sans-serif;
		
	}

	.lato{
		font-family: 'Lato', sans-serif;
	}
	
	.numbers{
		font-family: 'Roboto', sans-serif;
	}
	



/* Font Positions
-------------------------*/




	.t-left{
		text-align:left !important;
	}

	.t-center{
		text-align:center !important;
	}

	.t-right{
		text-align:right !important;
	}
	
	
	
	
/* Font Weight
-------------------------*/




	.ultrabold{
		font-weight: 900;
	}

	.extrabold{
		font-weight: 800;
	}

	.bold{
		font-weight: 700;
	}

	.semibold{
		font-weight: 600;
	}

	.normal{
		font-weight: 400;
	}
	
	.light{
		font-weight: 300;
	}

	.lighter{
		font-weight: 100;
	}
	
	
	
	
/* Font Transformation
-------------------------*/




	.italic{
		font-style: italic;
	}

	.uppercase{
		text-transform: uppercase;
	}
	
	.lowercase{
		text-transform: lowercase;
	}
	
	
	
	

/* Font Colors
-------------------------*/




	.dark{
		color: #191919;
	}

	.white{
		color: #e5e5e5;
	}

	.gray1{
		color: #777777;
	}

	.gray2{
		color: #505050;
	}

	.colored{
		color: #ffd700;
	}
	
	
	
	
	
/* Font Sizes
-------------------------*/


	
	.f-small{
		font-size: 13px;
		
	}
	
	.f-normal{
		font-size: 18px;
		
	}
	
	.f-semi-expanded{
		font-size: 1.5em;
		
	}
	
	.f-medium{
		font-size: 28px;
		
	}
	
	.f-expanded{
		font-size: 2.5em;
		
	}
	
	.f-big{
		font-size: 45px;
		
	}
	
	.f-large{
		font-size: 3.5em;
		
	}
	
	.f-extra-expanded{
		font-size: 6em;
		
	}
	
	
	
	
/*======================

	03. Loading Screen

========================*/	





	#loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1000;
		overflow: hidden;
	}
	
	
	#loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 100%;
		border: 0px solid transparent;
		border-top-color: #fff;
		-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
		animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
		z-index: 1001;
		overflow: hidden;
	}
	
	
	
	
/* Loader Logo
-------------------------*/




	.loader-img img{
		display: block;
		position: absolute;
		left: 47.5%;
		bottom: 48%;
		width: 50px;
		height: auto;
		z-index: 1002;
	}
	
	
	
	
/* Loader Animation
-------------------------*/




    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 100%;
        border: 2px solid transparent;
        border-top-color: #fff;
		overflow: hidden;
        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 100%;
        border: 0px solid transparent;
        border-top-color: #fff;
		overflow: hidden;
        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 50%;
        height: 100%;
		overflow: hidden;
		background-color: #fff;
		background: r#fff;
		color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

	
	
	
/* After Loading
-------------------------*/




    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
		-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
        transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
        transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
        -webkit-transition: all 0.3s 1s ease-out;  
        transition: all 0.3s 1s ease-out;
    }
    
	
	

	
	
	

	
	
	
	
	
/*======================

	04. Backgrounds

========================*/




/* Solid Backgrounds
-------------------------*/




	.white-bg{
		background-color: #fff !important;
	}

	.gray-bg{
		background-color:#505050 !important;
	}

	.dark-bg{
		background-color: #191919 !important;
	}
	
	.colored-bg{
		background-color: #ffd700;
	}
	
	.solid-bg{
		background: #232121;
	}
	
	.solid-bg-light{
		background: #e9e8e8;
	}
	
	
	
	
	
/* Gradient Backgrounds
-------------------------*/


	#gradient,
	.gradient-bg{
		background:-moz-linear-gradient(17% 81% 67deg, #E4A4B8, #86FFF4 90%);
		background:-webkit-gradient(linear, 91% 91%, 20% 0%, from(#B869A4), to(#6DC7A5));
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Video Backgrounds
-------------------------*/	
	
	#video{
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Image Backgrounds
-------------------------*/
	
	
	
	
	.image-bg{
		background: url(../img/bg-01.jpg);
		height: 100vh;
	}
	
	.image-bg-2{
		background: url(../img/bg-02.jpg);
	}
	
	.image-bg-3{
		background: url(../img/bg-03.jpg);
		
	}
	
	.image-bg-4{
		background: url(../img/bg-04.jpg);
		
	}
	
	.image-bg-5{
		background: url(../img/bg-05.jpg);
		
	}
	
	.image-bg-6{
		background: url(../img/bg-06.jpg);
		
	}
	
	.image-bg, 
	.image-bg-2, 
	.image-bg-3,
	.image-bg-4,
	.image-bg-5,
	.image-bg-6{
		width: 100%;
		background-size: cover;
		display: block;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		z-index: 1;
	}
	
	
	
	
	
/* Other Backgrounds
-------------------------*/

	.pattern-bg{
		background: url(../img/pattern.jpg);
		position: relative;
		overflow: hidden;
		background-repeat: repeat;
	}

	#demo_canvas{
		z-index: 999;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	
	

	
	
	
	
	
/*======================

	05. Navigations

========================*/




/* General
-------------------------*/	
	
	.navigation{
		background: #fff;
		z-index: 99999999;
		padding: 10px 3% 10px 10%;


	}
	
	.navbar-brand img{
		width: 25px;
		position: relative;
		right: 18px;
	}
	
	.nav{
		float: right;
	}
	
	
	.nav li a{
		margin-right: 10px;
		color: #777777;
	}
	
	
	
/* Bootstrap Fix
-------------------------*/	


	
	.nav > li > a:focus, .nav > li > a:hover {
		text-decoration: none;
		background-color: transparent;
		color: #777777;
	}
	
	.nav .open > a, 
	.nav .open > a:focus, 
	.nav .open > a:hover {
		background-color: transparent;
		border-color: transparent;
	}
	
	.navbar-toggle{
		border-radius: 0px;
		border: 2px solid #777777;
	}
	
	.navbar-nav > li > .dropdown-menu {
		border-radius: 0;
	}
	
	.icon-bar{
		background: #777777;
	}
	
	.nav li a{
		text-align: left;
	}
	

	.uk-subnav > * > :focus, .uk-subnav > * > :hover {
    color: #505050;
    text-decoration: none;
	}
	
	.uk-subnav > .uk-active > * {
    color: #191919;
	}
	
	
	

/* Dropdown
-------------------------*/	



	.dropdown-menu{
		background: #191919;
	}
	
	.dropdown-menu li{
		margin-bottom: 15px;
	}
	
	.dropdown-menu li a{
		color: #e5e5e5;
	}
	
	.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
		color: #fff;
		text-decoration: none;
		background-color: transparent;
	}
	
	.multi-drop a{
		margin-bottom: 15px;
	}


	.drop-left{
		float: left;
		padding-top: 15px;
		padding-left: 20px;

	}
	
	.drop-right{
		float: right;
		padding-top: 15px;
		padding-right: 30px;
	}
	
	.big-dropdown{
		min-width: 700px;
	}
	
	.big-dropdown li{
		margin-bottom: 25px;
	}
	
	

	
	
/*======================

	06. Homepage

========================*/	




/* Homepage Headers
----------------------------*/	



	#header{
		position: relative;
		padding-top: 70px;
		padding-bottom: 150px;
		
	}
	
	.big-text-full h2{
		max-width: 800px;
	}
	
	.big-text-full h3{
		max-width: 1000px;
	}
	
	.big-text h2{
		max-width: 600px;
	}
	
	.big-text h3{
		max-width: 800px;	
	}
	
	.big-text h2,
	.big-text-full h2{
		letter-spacing: 2px;
		word-spacing: 6px;

	}
	
	.big-text h3,
	.big-text-full h3{
		letter-spacing: 1px;
		word-spacing: 3px;
		line-height: 40px;

	}
	
	.big-text i{
		font-size: 7em;
	}
	
	.header-img{
		margin-bottom: 50px;		
	}
	
	.header-img img{
		opacity: 0.9;
		width: 70px;
		border-radius: 100%;
		position: relative;
		right: 15px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;

	}
	
	.multi-img img{
		margin-left: 25px;
		width: 55px;
	}
	
	.header-img img:hover{
		opacity: 1;
	}



	
/* Logo Styles
----------------------------*/	

	.logo{
		position: absolute;
		top: 30px;
		left: 50px;
		z-index: 9;
	}

	.logo img{
		display: block;
		max-width: 100px;
		height: auto;
		margin: auto;

	}
	
	.logo-footer{
		max-width: 100px;
		height: auto;
		float: left;
		position: relative;
		bottom: 10px;
	}
	
	.logo-nav{
		float: left;
		max-width: 60px;
		position: relative;
		bottom: 25px;
	}
	
	
	
	
	


	
/*========================

	07. Slider
	
==========================*/
	
	
	
	.rslides,
	.rslides-background{
	    position: relative;
	    list-style: none;
	    overflow: hidden;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
	
	.rslides{
		z-index: 0;
	}
	

	.rslides li {
	    -webkit-backface-visibility: hidden;
	    position: absolute;
	    display: none;
	    width: 100%;
		height: 100%;
	    left: 0;
	    top: 0;
		
	}

	.rslides li:first-child {
	    position: relative;
	    display: block;
		float: left;
	 }

	.rslides img {
		display: block;
		float: left;
		width: 100%;
		border: 0;

	}


	
	
	
/*========================

	08. About
	
==========================*/



	
	#about{
		position: relative;
		padding-bottom: 200px;
		background: #fff;
	}


	.brief{
		margin-top: 100px;
	}
	
	.brief h3{
		letter-spacing: 2px;
		word-spacing: 5px;
	}
	
	.brief p{
		margin-top: 30px;
		line-height: 40px;
	}
	
	.brief a{
		border-bottom: 1px solid #777777;
		margin-top: 20px;
		
	}
	
	.proj a{
		margin-left: 20px;
		margin-top: 0px;
	}
	
	.proj img{
		margin-bottom: 20px;
	}


	

	
/*========================

	09. Services

==========================*/


	
	
	#services{
		position: relative;
		padding-bottom: 80px;
		background: #fff;
	}
	
	.service{
		padding-bottom: 120px;
	}
	
	
	.service:hover .separator-small{
		width: 70px;
	}
	
	.service .separator-small{
		margin-left: 25px;
	}
	
	.service i{
		font-size: 45px;
	}

	.service h2{
		font-size: 16px;
		word-spacing: 3px;
		letter-spacing: 1px;
		margin-left: 30px;
		
	}
	
	.service p{
		line-height: 35px;
		color: #777777;
		font-size: 13px;
		margin-top: 15px;
	}
	
	
	
	
	



/*========================

	10. Portfolio

==========================*/




	#portfolio{
		position: relative;
		background: #fff;
		padding-bottom: 200px;
	}

	
	.works-filter,
	.works-filter-full{
		width: 100%;
		font-size: 13px;
		word-spacing: 3px;
		letter-spacing: 1px;
		text-align: center;
		margin-bottom: 50px;
	}
	
	.works-filter li,
	.works-filter-full li{
		margin-right: 30px;
		
	}
	
	.works-filter-full{
		margin-left: 10%;
	}
	

	.work li{
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		overflow: hidden;
	}
	
	.work{
		overflow: hidden;

	}
	
	.work li:hover{
		opacity: 1;
		
	}
	
	
	.work img{
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		overflow: hidden;
	}
	
	
	.work .hover{
		background: url(../img/pattern-2.png) repeat;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	
	.work .hover p{
		position: absolute;
		top: 50%;
		left: 50%;
		letter-spacing: 3px;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

	
	.work:hover .hover{
		opacity: 1;
	}
	
	.work:hover img{
		-o-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
	
	.hover .button{
		margin: auto;
	}
	
	.gutter{
		padding: 20px;
	}
	
	.gutter:hover img{
		-o-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	
	
	

/*========================

	11. Pricing Table

==========================*/
	
	
	
	
	#pricing{
		position: relative;
		padding-bottom: 100px;
		background: #fff;
	}
	
	.price-table{
		border: 1px solid #e5e5e5;
		padding: 20px;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
		margin-bottom: 100px;
	}
	
	.price-table:hover{
		border: 1px solid #777777;
	}
	
	.table-special{
		border: 1px solid #777777;
	}
	
	.price-head{
		margin-bottom: 50px;
	}
	
	.price-head h1{
		letter-spacing: 5px;
		margin-bottom: 20px;
	}
	
	
	.price-value{
		margin-top: 50px;
	}
	
	.price-body ul li{
		margin: 25px 0px 0px 0px;
		padding: 0px 0px 25px 0px;
	}
	
	.price-table .button{
		margin-top: 50px;
	}
	
	
	
	
	
/*========================

	12. Blog

==========================*/




	
	#blog{
		position: relative;
		padding-bottom: 200px;
		
	}
	
	.blog-post{
		margin-bottom: 200px;
	}
	
	.blog-post h3{
		letter-spacing: 1px;
		word-spacing: 3px;
		padding: 20px 0px 20px 0px;
	}
	
	.blog-post ul li{
		display: inline-block;
		padding-left: 15px;
		border-left: 1px solid #b2b2b2;
		margin: 0px 0px 20px 15px;
	}
	
	.blog-post ul li a{
		margin-left: 3px;
	}
	
	.blog-post img{
		opacity: 0.9;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.blog-post img:hover{
		opacity: 1;
	}

	.blog-post p{
		line-height: 40px;
	}
	
	.post-text p{
		margin-bottom: 25px;
	}
	
	.blog-post .button{
		margin-top: 30px;
	}
	
	.sidebar{
		margin: 0px 0px 100px 30px;
	}
	
	.sidebar ul{
		margin-top: 25px;
	}
	
	.sidebar ul li{
		margin-top: 25px;
	}
	
	.tags li{
		display: inline-block;
		padding: 8px;
		margin: 3px;
		border: 1px solid #777777;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;
	}
	
	.tags li:hover a{
		color: #fff;		
	}
	
	
	.tags li:hover{
		background: #191919;
		border: 1px solid #191919;
	}
	
	
	#subscribe{
		position: relative;
		padding-top: 150px;
		padding-bottom: 80px;
	}
	



	
	
	
/*========================

	13. Map

==========================*/



	
	#map_canvas {
		height: 500px;
		width: 100%;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		transition: all 0.4s;

	}
	
	.map-full{
		margin-bottom: 200px;
	}
	

	
	
	
/*========================

	14. Contact

==========================*/	


	
	#contact{
		padding-bottom: 200px;
		background: #fff;

	}

	#contact  form input,form textarea {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-bottom: 10px;
		margin-bottom: 60px;
		transition: none;
		background: transparent;
		width: 100%;
		border: none;
		color: #191919;
		float: left;
		border-bottom: 2px solid #191919;
		font-size: 16px;
		font-weight: 500;
		word-spacing: 2.5px;
		text-align: left;
	}
	
	
	#message{
		
		height: 100px;
	}

	#contact-form{
		text-align:left;
	
	}

	#contact-form p span {
		display: block;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	
	#contact-form p{
		margin-top: 15px;
	}
	
	#contact-form  i{
		margin-right: 5px;
	}
	
	#contact-form  p{
		float: right;
	}
	
	.contact-full{
		margin-top: 100px;
	}
	
	.contact-wrapper{
		max-width: 800px;
		background: red;
	}
	
	.contact-btn{
		float: left;
		border: none;
	}

	::-webkit-input-placeholder {
	 color: #777777;
	}

	#contact-form  label {
		cursor: text;
		display: block;
		margin: 0;
		position: relative;
		top: 0;
		width: 100%;
	}
	:-moz-placeholder { /* Firefox 18- */
	 color: #777777;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	 color: #777777;
	}

	:-ms-input-placeholder {
	 color: #777777;
	}

	#contact-form .error {
		bottom: 12px;
		font-family: inherit;
		font-size: 14px;
		font-weight: normal;
		left: auto;
		letter-spacing: 0;
		position: absolute;
		right: 20px;
		text-transform: capitalize;
		width: auto;
	}

	.response h3 {
		letter-spacing: 2px;
		margin: 10px 0 25px;
		text-transform: uppercase;
	}


	
	
	
/*========================

	15. Footer

==========================*/


	#footer{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	
	.footer-logo img{
		width: 40px;
	}
	
	.footer-social li{
		display: inline-block;
		margin: 35px 0px 0px 35px;
		
	}
	
	.footer-social li i{
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9);
	}
	
	.footer-details{
		padding-top: 50px;
	}
	
	.footer-details p{
		margin-top: 10px;
	}
	
	.footer-details a{
		margin-left: 5px;
	}

	
	
	
/*========================

	16. Responsive

==========================*/


	

/* Resolution Under 992px
----------------------------*/	


/*	
	@media all and (max-width: 992px) {

	
		.navbar-collapse{
			position: absolute;
			left: 0px;
			background: #fff;
			width: 100%;
			z-index: 99999999;
		}


	}
*/
	
/* Resolution Under 768px
----------------------------*/	
	
	
	
	@media all and (max-width: 768px) {
		
		
		.nav {
			float: left;
		}

		.navbar-collapse{
			position: absolute;
			left: 0px;
			background: #191919;
			text-align: left;
			width: 100%;
			z-index: 99999999;
		}
		
		.map-half{
			margin-bottom: 200px;
		}
		
		.sidebar{
			margin: 100px 0px 0px 0px;
		}
		
		#services .row{
			margin-bottom: 0px;
		}

	
		.big-dropdown{
			min-width: 100%;
			overflow: auto;
		}
		
		.drop-left{
			float: none;
			padding-top: 15px;
			padding-left: 20px;

		}
	
		.drop-right{
			float: none;
			padding-top: 0px;
			padding-left: 20px;
		}
		
		.sections{
			padding-top: 0px;
		}
		
		.navigation{
			background: #fff;
			z-index: 99999999;
			padding: 10px 3% 10px 10%;
			-webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
			box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);



		}
		
		
	}
	

	
	
/* Resolution Under 530px
----------------------------*/

	
	
	@media all and (max-width: 530px) {


		
		.loader-img img{
			left: 45%;
		}
		
		.blog-post ul li{
			display: block;
			padding-left: 15px;
			border-left: 1px solid #b2b2b2;
			
		}
		
		.blog-post ul li{
			margin: 0px 0px 20px 0px;
		}
		
		.blog-post .no-margin {
			margin: 0px 0px 20px 0px !important;
		
		}
		
		.blog-post .no-padding{
			padding-left: 15px !important;
		} 
		
		.blog-post .no-border{
			border-left: 1px solid #b2b2b2 !important;
		} 
		
		.multi-img img{
			margin-left: 25px;
			width: 45px;
		}
		
		.simple-big h2{
			font-size: 3em;
		}

	}
	

	
	
/* Resolution Under 450px
----------------------------*/	




	@media all and (max-width: 450px) {

		
		.loader-img img{
			left: 42%;
		}
		
		#map_canvas {
			height: 350px;


		}
		
		#contact-form p{
			float: left;
			margin-top: 20px;
		}
		
		.service .separator-small{
			display: none;
		}
		
		#services .col-md-4{
			padding-bottom: 100px;
			position: relative;
		}
		
		
		.post-info .no-margin{
			margin: 0px 0px 20px 0px !important;
			
		}
		
		.post-info .no-padding{
			padding-left: 20px !important;
		}
		
		.post-info .no-border{
			border-left: 1px solid #b2b2b2 !important;
		}
			
		.simple-big h2{
			font-size: 2.5em;
		}
		
	}
	
	
	
/* Resolution Under 400px
----------------------------*/	


	
	@media all and (max-width: 400px) {
		
		.big-text h2{
			width: 100%;
		}
		
		.f-large {
			font-size: 2.3em;
		}
		
		
		.f-medium,
		.f-expanded{
			font-size: 20px;
		}
		

		.big-text h3, .big-text-full h3 {
			letter-spacing: 1px;
			word-spacing: 3px;
			line-height: 30px;
		}
		

		.big-text h2{
			line-height: 47px;
		}
		
		.works-filter li,
		.works-filter-full li{
			margin-right: 18px;
		
		}

	}
	
	
	@media all and (max-width: 375px) {
		
		.drop-right{
			float: left;
			padding-top: 0px;
			padding-right: 20px;
		}
		
		.f-big{
				font-size: 20px;
		}

	}

@media (min-width: 992px){
	.tweet-feed{
		margin-top: 5em;
	}