{% load static %}
<div id="footer">
    <!-- Section Content -->
    <div class="section-content">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-fade'}">
                <!-- Footer Logo -->
                <div class="footer-logo float-l">
                    <!-- Image -->
                    <a href="/" data-uk-smooth-scroll ><img src="{% static 'img/amio-logo.png' %}" alt="" /></a>
                    <!-- End Image -->
                </div>
                <!-- End Footer Logo -->
            </div>
            <!-- End Column -->
        </div>
        <!-- End Row -->

        <!-- Row -->
        <div class="row" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}">
            <!-- Column -->
            <div class="col-md-12 t-left">
                <!-- Footer Social -->
                <ul class="footer-social">
                    <!-- Links -->
                    {% if footer.facebook %}
                    <li class="no-margin"><a href="{{ footer.facebook }}"><i class="fa fa-facebook dark" aria-hidden="true"></i></a></li>
                    {% endif %}
                    {% if footer.twitter %}
                    <li><a href='{{ footer.twitter }}'<i class="fa fa-twitter dark" aria-hidden="true"></i></a></li>
                    {% endif %}
                    <!-- End Links -->
                </ul>
                <!-- End Footer Social -->

                <!-- Separator -->
                <div class="separator-small"></div>
                <!-- End Separator -->
            </div>
            <!-- End Column -->

            <!-- Column -->
            <div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-fade', delay:40}">
                <!-- Footer Details -->
                <div class="footer-details t-left">
                    <!-- Phone -->
                    {% if footer.phone %}
                    <p class="dark f-small lato">Phone: <a href="tel:{{ footer.phone }}">{{ footer.phone }}</a></p>
                    {% endif %}
                    <!-- Email -->
                    {% if footer.email %}
                    <p class="dark f-small lato">Email: <a href="mailto:{{ footer.email }}">{{ footer.email }}</a></p>
                    {% endif %}
                    <!-- Address -->
                    {% if footer.address %}
                    <p class="dark f-small lato">Address: <a href="http://maps.google.com/maps?&q={{ footer.address }}" target="_blank">{{ footer.address }}</a></p>
                    {% endif %}
                </div>
                <!-- End Footer Details -->
            </div>
            <!-- End Column -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Section Content -->
</div>
<!-- End Footer -->
