{% load wagtailcore_tags wagtailimages_tags %}
        <div class = 'row el_marg_top'>
            <div class=" single-testimonial ">
               {% for item in testimonial.testimonial_item.all %}
                  <div class="item">
                     <div class="col-xs-12 col-sm-4 col-md-2 tac">
                       <div class="carusel_img">
                         {% image item.image  height-200 class="carousel_testimonial" %}
                       </div>
                     </div>
                    <div class="col-xs-12 col-sm-8 col-md-10 ">
                     <div class="carusel_text">
                       <p class="carusel_info">"{{ item.quote }}"</p>
                       <span class="full_name">{{ item.who_gave|richtext }}</span>
                     </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>

