{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}


{% block content %}  
    <!-- About -->
    <div id="about">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-12">
                <!-- Images -->
                <ul class="rslides about-slide">
                    {% for banner in page.related_banner.all %}
                    <li>{% image banner.image height-200 %}</li>
                    {% endfor %}
                </ul>
                <!-- End Images -->
            </div>
            <!-- End Column -->
        </div>
        <!-- End Row -->

        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-12">
                <!-- Brief -->
                <div class="brief t-left">
                    <!-- Heading -->
                    <h3 class="t-left f-normal ultrabold uppercase">About:</h3>
                    <!-- Separator -->
                    <div class="separator-small "></div>
                    <!-- End Separator -->
    {# <p class="t-left"> #}
                        {{ page.body|richtext }}                        
                    <!-- Read More Link -->
                    {# <a href="#" class="float-l f-small">Read More ></a> #}
                </div>
                <!-- End Brief -->
            </div>
            <!-- End Column -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End About -->
{% endblock %}


