{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

<html>
    <head>

{% block content %}
{% block title_header %}

 <div id="header">

    <!-- Section Content -->
    {# <div class="section-content"> #}
        <!-- Heading -->
        <div class="big-text par" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}" >
                    <!-- Title -->
            <h2 class="t-left f-large ultrabold title_body">{{ page.title_body }}</h2>
        </div>
        <!-- End Heading -->
    {# </div> #}
    <!-- End Section Content -->
</div>
<!-- End Header -->
{% endblock title_header %}
    <!-- Default -->
    <div id="about">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-12">
                <!-- Brief -->
                <div class="brief t-left">
                    <!-- Heading --><!-- Separator -->
                    <!-- End Separator -->
                        <article>
                            {% for block in page.body %}
                                <section >{{ block }}</section>
                            {% endfor %}
                                {# <div class="separator-small "></div> #}
                        </article>
                </div>
                <!-- End Brief -->
            </div>
            <!-- End Column -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End About -->
{% endblock %}


