{% load  wagtailimages_tags %}
<div class = 'row ' >
    {# <div class="col-md-6"> #}
        <div class=" single-item ">
           {% for item in value.one_item %}
            <div class = 'slider'> 
                <a href="{{ item.url }}" class = 'slider'>
            {% image item.image  height-200 %} 
            {{ item.description }} </a> </div>
            {% endfor %}
        </div>
    </div>