{% load  wagtailimages_tags %}

<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-md-12">
        <!-- Images -->
        <ul class="rslides about-slide">
            {% for img in value.image%}
            <li>{% image img height-600 %}</li>
            {% endfor %}
        </ul>
        <!-- End Images -->
    </div>
    <!-- End Column -->
</div>
<!-- End Row -->