{% load wagtailcore_tags wagtailimages_tags %}
<div class="posted-comment col-md-8">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-12">
            <!-- User Image -->
            {# {{ image }} #}
            {% image image  height-200 %} 
        </div>
        <!-- End Column -->

        <!-- Column -->
        <div class="col-md-12">
            <!-- Date -->
            <h3 class="f-normal ultrabold uppercase t-left float-l">{{ title }}</h3>
                 </div>
        <!-- End Column -->
    </div>
    <!-- End Row -->    

    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-12">                                         <!-- Comment -->
            <p class="t-left">{{ description }}</p>
        </div>
        <!-- End Column -->
    </div>
    <!-- End Row -->
</div>