{% load i18n wagtailroutablepage_tags common_tags wagtailcore_tags%}

<!-- Navigation List -->
<ul class="nav navbar-nav f-small normal raleway">
           <li> <a href="/">Home</a></li>
    {% for menuitem in menuitems %}
    <!-- Dropdown -->
        <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if calling_page.url == menuitem.url %} active{% endif %}">
            {% if menuitem.show_dropdown %}
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                {% top_menu_children parent=menuitem %}
            {% else %}
                <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            {% endif %}
        </li>
    </li>
    <!-- End Dropdown -->
    {% endfor %}

</ul>
 <!-- End Navigation List -->

 