{% if value.add_form %}
<div class="row">
    <div id="contact">
    <!-- Column -->
        <div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-fade'}">
            <!-- Contact Container -->
            <div id="contact-wrapper">
                    
                <!-- Comfermation Results -->
                <div id="ErrResults" class="dark f-small"><h1>Sorry! Your Message Wasn't Sent.</h1></div>
                <div id="MainResult" class="dark f-small"><h1>Thanks! Your Message Has Been Sent.</h1></div>
                <!-- END Comfermation Results -->

                <!-- Contact Form -->

                <form id="contact-form" name="contact-form" method="post">
                {% csrf_token %}
                
                    <!-- Name Input and Validation -->
                    <input type="text" name="name" id="name" placeholder="Your Name" data-uk-scrollspy="{cls:'uk-animation-fade', delay:100}">

                    <label for="name" id="nameLb"><span class="error dark f-small">Name Required!</span></label>
                    <!-- END Name Input and Validation -->       

                    
                    <!-- Email Input and Validation -->
                    <input type="email" name="email" id="email" placeholder="Your Email" data-uk-scrollspy="{cls:'uk-animation-fade', delay:40}">

                    <label for="email" id="emailLb">
                        <span class="error error1 dark f-small">Email Required!</span> 
                        <span class="error error2 dark f-small">Email Not Valid!</span>
                    </label> 
                    <!-- END Email Input and Validation -->


                    
                    <!-- Telephone Input and Validation -->
                    <input type="text" name="phone" id="phone" placeholder="Your Telephone" data-uk-scrollspy="{cls:'uk-animation-fade', delay:60}">

                    <label for="phone" id="phoneLb"><span class="error dark f-small">Telephone Required!</span></label>
                    <!-- END Telephone Input and Validation -->


                    <!-- Message Input and Validation -->
                    <textarea name="message" id="message" placeholder="Your Message" data-uk-scrollspy="{cls:'uk-animation-fade', delay:80}"></textarea>

                    <label for="message" id="messageLb"><span class="error dark f-small">Message Required!</span></label>
                    <!-- END Message Input and Validation -->



                    <!-- Send Button -->
                    <button type="submit" class="button contact-btn" data-uk-scrollspy="{cls:'uk-animation-fade', delay:100}">Send</button>
                    <!-- END Send Button -->


                    <p class="dark f-small"><i class="icon ion-ios-information"></i> All the fields are required!</p>
                    
                    
                </form>
                <!-- END Contact Form -->

            </div>
            <!-- END Contact Container -->
        
        </div>
    <!-- End Column -->
    </div>
</div>
{% endif %}
