{% load wagtailcore_tags %}

<!-- Dropdown Link List -->
<ul class="dropdown-menu f-small normal lato">
     <!-- Dropdown Links -->
    {# Include link to parent because the parent link is a drop down #}
     <li><a href="{% pageurl parent %}">{{ parent.title }}</a></li>
    {% for child in menuitems_children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    {% endfor %}
    <!-- End Dropdown Links -->
                                            </ul>
<!-- End Dropdown Link List -->


