{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block title_header %}
<!-- Header -->
<div id="header">

    <!-- Section Content -->
    {# <div class="section-content"> #}

        
        <!-- Heading -->
        <div class="big-text" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}">
        
        
            <!-- Icon -->
            <i class="icon ion-map col-md-12 t-left"></i>
            
            <!-- Title -->
            <h2 class="t-left f-large ultrabold uppercase">Oops! It looks like you're lost.</h2>
            
            <!-- Description -->
            <h3 class="t-left f-medium normal uppercase">The page you are looking for does not exist. <a href="/" class="bold">Click here</a> to go back to the home page.</h3>
            
        </div>
        <!-- End Heading -->
        
        
        
    {# </div> #}
    <!-- End Section Content -->
    
</div>
<!-- End Header -->
{% endblock %}
