{% load static wagtailuserbar common_tags snippet %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
{% block social_share %}{% endblock social_share %}
{% block meta_title %}{% endblock meta_title %}
{% block meta_description %}{% endblock meta_description %}
{% block canonical %}{% endblock canonical %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!--Meta Datas -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <!--End Meta Datas -->

        <!-- Icons -->
            <link rel="shortcut icon" href="favicon.ico">
            <link rel="icon" href="favicon.ico" type="image/x-icon">
        <!-- END Icon -->

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/website.css' %}">
            <!-- CSS Files -->

            <!-- Font Awesome Icons -->
            <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

            <!-- Lightbox -->
            <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />

            <!-- Text Rotator -->
            <link rel="stylesheet" href="{% static 'css/simpletextrotator.css' %}" />

            <!-- ionicons Icons -->
            <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />

            <!-- Sticky Navigation -->
            <link rel="stylesheet" href="{% static 'css/sticky.min.css' %}" />

            <!-- Default Style -->
            <link rel="stylesheet" href="{% static 'css/reset.css' %}" />

            <!-- Uikit -->
            <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />

            <!-- Bootstrap Framework -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

            <!-- Main Stylesheet -->
            <link rel="stylesheet" href="{% static 'css/style.css' %}" />
            <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href='{% static "slick/slick.css" %}'/>
            <link rel="stylesheet" type="text/css" href='{% static "slick/slick-theme.css" %}'/>
            <link rel="stylesheet" type="text/css" href='{% static "css/common.css" %}'/>
        {# End CSS Files  Global stylesheets #}
        {% comment %} 
        {% endcomment %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Modernizr Plugin -->
			<script src="{% static 'js/modernizr-custom.js' %}"></script>
		<!-- END Modernizr Plugin -->


		<!--[if lt IE 9]>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <div id="loader-wrapper">
		    {% block loader_wrapper %}
			<!-- Loading Image -->
			<div class="loader-img"><img src="{% static 'img/amio-logo.png' %}" alt="" /></div>
			<!-- END Loading Image -->


			<!-- Loading Screen Split -->
			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
			<!-- End Loading Screen Split -->
			{% endblock loader_wrapper %}
		</div>
		<!-- End Loading Screen -->

        		<!-- Main Container -->
		<div class="container">



			<!-- All Sections -->
			<div class="sections">




				<!-- Sticky Navigation -->
				<div data-uk-sticky>


    <div class="navigation">


	
        <!-- Navigation Heading -->
        <div class="navbar-header">

            <!-- Mobile Navigation Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- End Mobile Navigation Button -->

            <!-- Navigation Logo -->
            <a class="navbar-brand" href="#header" data-uk-smooth-scroll="{offset: 120}"><img src="{% static 'img/amio-logo.png' %}" alt="" /></a>
            <!-- End Navigation Logo -->

    </div>
        <!-- End Navigation Heading -->

        <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            {% block navigation %}
                {% get_site_root as site_root %}
			    {% top_menu parent=site_root calling_page=self %}

			{% endblock navigation %}

    </div>
        <!-- End Navigation Links -->
</div>

<!-- Navigation Ends -->

</div>
<!-- End Sticky Navigation -->








            <!-- Section ContentBody-->
            <div class = 'section-content'>
                {% block content %}

	<!-- Header -->
{% block title_header %}
    <div id="header">
        <!-- Section Content -->
        {# <div class="section-content"> #}
         <div class="row">
          <div class="col-md-8">
            <!-- Heading -->
            <div class="big-text par" data-uk-scrollspy="{cls:'uk-animation-fade', delay:20}" >
                        <!-- Title -->
                <h2 class="t-left f-large ultrabold title_body">{{ page.title_body }}</h2>
                <!-- Description -->
                <h3 class="t-left f-medium normal description_body">{{ page.description }}</h3>
            </div>
            <!-- End Heading -->
          </div>
         </div>
        {# </div> #}
        <!-- End Section Content -->
    </div>
{% endblock title_header %}
	<!-- End Header -->

                {% endblock %}

                    <div>
                    {% if page.testimonial %}
                      {% testimonial %}
                    {% endif %}
                    </div>
            </div>
            <!-- End Section ContentBody-->


				<!-- Footer -->
                {% block footer %}
                    {% if page.footer %}
                        {% footer %}
                    {% elif not page.footer %}
        				<div id="footer">
        					<!-- Section Content -->
        					<div class="section-content">
        						<!-- Row -->
        						<div class="row">
        							<!-- Column -->
        							<div class="col-md-12" data-uk-scrollspy="{cls:'uk-animation-fade'}">
        								<!-- Footer Logo -->
        								<div class="footer-logo float-l">
        									<!-- Image -->
                                            <a href="/" data-uk-smooth-scroll><img src="{% static 'img/amio-logo.png' %}" alt="" /></a>
        									{# <a href="#home" data-uk-smooth-scroll><img src="{% static 'img/amio-logo.png' %}" alt="" /></a> #}
        									<!-- End Image -->
        								</div>
        								<!-- End Footer Logo -->
        							</div>
        							<!-- End Column -->
        						</div>
        						<!-- End Row -->
        					</div>
        					<!-- End Section Content -->
        				</div>
        				<!-- End Footer -->
                    {% endif %}
                {% endblock footer %}


			</div>
			<!-- End All Sections -->


		</div>
		<!-- End Main Container -->


        {# Global javascript #}
        <!-- JavaSript Files -->

			<!-- Essential JS Files -->
			<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

			<!-- Bootstrap -->
			<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

			<!-- uikit -->
			<script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>

			<!-- Custom Codes -->
			<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


			<!-- JS Plugins -->



				<!-- Mail Plugin -->
				<script type="text/javascript" src="{% static 'js/subscribe.js' %}"></script>

				<!-- Grid -->
				<script type="text/javascript" src="{% static 'js/grid.min.js' %}"></script>

				<!-- Responsive Slider -->
				<script type="text/javascript" src="{% static 'js/responsiveslides.min.js' %}"></script>

				<!-- Lightbox -->
				<script type="text/javascript" src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>

				<!-- Map -->
				<script type="text/javascript" src="{% static 'js/jquery.mapit.js' %}"></script>

				<!-- Text Rotator -->
				<script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.min.js' %}"></script>

				<!-- Contact -->
				<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>

				<!-- Sticky Navigation -->
				<script type="text/javascript" src="{% static 'js/sticky.min.js' %}"></script>
                <!-- Slick Carousel -->
                <script type="text/javascript" src='{% static "slick/slick.min.js" %}'></script>
                <script type="text/javascript">
                    $('.single-testimonial').slick({
                        autoplay: true,
                        autoplaySpeed: 5000
                    });
                    
                    $('.single-item').slick({
                        dots: true,
                        autoplay: true,
                        autoplaySpeed: 5000,
                        arrows: false
                    });
                </script>



		<!-- End JavaSript Files -->


        <script type="text/javascript" src="{% static 'js/website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
